# ==============================================================================
# Playwright Test Automation Environment Template
# Copy this file to a new file named '.env' and fill in your local values.
# DO NOT commit the actual '.env' file to your source control repository.
# ==============================================================================


globalsqaURL=https://www.globalsqa.com/demo-site/draganddrop/
uitestingplaygroundURL=http://uitestingplayground.com/ajax